doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Comma Dangle

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.test
        h1 Is this working properly? Press P to play, refresh the page to start again

      section
        h1 Comma Dangle
        h2 David McMullin
        img.avatar(src='images/cocoa.jpg')
        h4 @davecocoa7 / davecocoa

      section
        h1 Comma Dangle
        pre
          code.language-javascript.
            var someNiceThings = [
              'JavaScript',
              'Regex',
              'Kittens',
            ]

      section.slippery
        h1 Slippery Slope?
        pre
          code.language-javascript.
            var someNiceThings = [
              'JavaScript',
              'Regex',
              'Kittens',
            ]

      section
        h1 Whatever, my codebase is too large and old!
        h2.error ✖ 576 problems (472 errors, 104 warnings)

      section
        h1 Regex?
        pre
          code
            /([^}\],]*)\s*([}\]])/

      section.nope
        h1 NOPE
        pre
          code.language-javascript.
            var someNiceThings = [
              'JavaScript',
              'Regex',
              'Kittens',
            ]

      section
        h1 More code!
        pre
          code.language-javascript.
            var fs = require('fs')

            require('./eslintout.json').forEach(function(f){
              fs.readFile(f.filePath, function(err, data){
                lines = data.toString().split('\n')
                
                f.messages.forEach(function(line){
                  lines[line.line-1] = lines[line.line-1] + ','
                })
                
                fs.writeFile(f.filePath, lines.join('\n'))
              })
            })

      section
        h1 Further Reading
        h2 
          a(href="http://eslint.org/docs/rules/comma-dangle.html") http://eslint.org/docs/rules/comma-dangle.html
        h2
          a(href="https://github.com/airbnb/javascript#19.2") https://github.com/airbnb/javascript#19.2

      section
        h1 Thank you!

    script(src='build/build.js')
